main {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 0px;
    /*grid-auto-rows: 45vh;*/
    grid-template-areas:
        " a a b b f"
        " a a b b e"
        " c c d d e"
        " c c d d d";
    align-items: start;
    height: 100vh;
}

.leaflet-control-layers.leaflet-control-layers-expanded.leaflet-control {
    display: none;
}

.leaflet-container {
    background: #000;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    border: none;
    background-clip: padding-box;
}
/*#ad2.aff*/
.leaflet-bar a {
    background-color: #09090978;
    border: none;
    color: #ad2aff;
}

.leaflet-bar a:hover {
    background-color: #ad2aff;
    border: none;
    color: #09090978;
}

.ctl {
    padding: 2px 10px 2px 10px;
    background: white;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: right;
}

#mapid {
    position: absolute;
    height: 100vh;
    width: 100%;
}

#selector {
    color: #ad2aff;
    display: grid;
    list-style: none;
    margin: 1px;
    width: 100%;
    z-index: 1001;
    margin: 0;
    background-color: transparent;
    text-shadow: 1px 1px 2px;
    grid-area: e;
    font-size: x-large;
    opacity: 0.8;
}
.nav-links h1 {
    color: white;
    font-family: monospace;
}
#map2 {
    opacity: 1;
    transform: scale(1.08);
    color: white;
    text-shadow: 1px 1px 10px #ad2aff;
}
#selector li {
    margin: 8px;
}

#map1.opener {
    opacity: 1;
    transform: scale(1.08);
    color: white;
    text-shadow: 1px 1px 10px #ad2aff;
}

#map2.opener {
    opacity: 1;
    transform: scale(1);
    color: #ad2aff;
/*    text-shadow: none;*/
    text-shadow: 1px 1px 2px;
}

#map3.opener {
    opacity: 1;
    transform: scale(1.08);
    color: white;
    text-shadow: 1px 1px 10px #ad2aff;
}
#map4.opener {
    opacity: 1;
    transform: scale(1.08);
    color: white;
    text-shadow: 1px 1px 10px #ad2aff;
}

#ref {
    position: absolute;
    z-index: 1111;
    /*transform: translate(6%, 75vh);*/
    color: #ad2aff;
    font-family: 'Krona One', sans-serif;
    margin: 0;
    opacity: 0.8;
    text-shadow: -2px 2px 6px #8a22cc;
    top: 75%;
    left: 4%;
}

#reff {
    font-size: 9px;
    position: absolute;
    z-index: 1111;
    /*transform: translate(6%, 33rem);*/
    top: 81.6%;
    left: 4.5%;
    color: #ad2aff;
    font-family: 'Krona One', sans-serif;
    margin: 0;
    opacity: 0.5;
    text-shadow: -2px -1px 5px #ee82ee26;
}
#reff a{
    color: #ad2aff;
    text-align: center;
}

#tiff {
    transform: translate(5%, 3145%);
    position: absolute;
    z-index: 1111;
    margin: 0;
    padding-left: 20px;
    padding-top: 1.1rem;
    list-style-type: none;
}

#tiff a {
    color: crimson;
    text-decoration: none;
    font-family: krona one;
    z-index: 1111;
    position: absolute;
}

#tiff li {
    text-decoration: none;
    display: block;
}

body {
    margin: 0;
    background-color: black;
    height: 100vh;
}

nav {
    height: 5vh;
    background: #ff000033;
    z-index: 1211;
    position: absolute;
    width: 100%;
    box-shadow: 1px 1px 50px 1px #ff000070;

}

.nav-links {
    display: flex;
    list-style: none;
    /*width:50%;*/
    /*    background-color: aquamarine;*/
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-top: 0;
}

.nav-links li,
a {
    color: white;
    text-decoration: none;
    text-align: center;

}
/*768*/
@media screen and (max-width: 1366px) {
    .line {
        border-radius: 55px;
        width: 32px;
        height: 3px;
        background-color: #9930dcf2;
        margin: 5px;
        box-shadow: 1px 1px 5px black;
    }

    nav {
        position: absolute;
        width: 0;
    }

    .hamburger {
        position: fixed;
        cursor: pointer;
        right: 93%;
        top: 3vh;
        /*transform: translate(1%, -1050%) rotate(0deg);*/
        transform: translate(92vw, 0%) rotate(0deg);
        z-index: 112;
        transition: all 0.5s ease-in;
    }
    .hamburger.openie{
        /*transform: translate(1%, -1050%) rotate(90deg);*/
        transform: translate(92vw,0%) rotate(90deg);
        transition: all 0.5s ease-out;
    }

    .nav-links {
        position: fixed;
        opacity: 0.9;
        /* background: crimson;
        recent changes*/
        background: linear-gradient(45deg, #000000e6, #ad2aff);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -30%);
        -webkit-clip-path: circle(100px at 90% -30%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .nav-links.open {
        clip-path: circle(1100px at 90% -30%);
        -webkit-clip-path: circle(1100px at 90% -30%);
        pointer-events: all;
        z-index: 111;
        margin: 0;
        padding: 0;
        height: 100vh;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li a {
        font-size: large;
        font-family: 'Teko', sans-serif;
        /* font-family: krona one;*/
        text-shadow: 1px 2px 5px black;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.8s;
    }

    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 1.0s;
    }

    .nav-links li:nth-child(6) {
        transition: all 0.5s ease 1.2s;
    }

    /*
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1.4s;
    }
*/
    li.fade {
        opacity: 1;
    }
}
